header {
  position: relative;
  background: #d2c9ab url(https://www.panerabread.com/delivery/panerabread/menu/delivery-categories/misc/background.png) repeat-x left bottom;
  word-break: keep-all;
  min-height: 108px;
  max-height: 108px;
}