@font-face {
    font-family: 'Stag';
    src: url('./components/Layout/fonts/STAG/STAG-LIGHT_0.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.App {
    
}

.row {

}

h3 {
    font-family: "Stag";
    font-size: 24px;

    text-align: center;
    margin-top: 20px;
    margin-bottom: 1.42857143em;
}