@font-face {
    font-family: 'StagSans';
    src: url('./components/Layout/fonts/STAG/StagSansRound-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
  font-size: 10px;
  
  background-color: #fff;
  background-image: url(https://www.panerabread.com/delivery/panerabread/menu/delivery-categories/misc/backgroundFull.jpg);
  background-repeat: repeat;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: "StagSans","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  color: #4c3327;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
